{% extends "base.html" %}
{% block content %}

        <!-- Start Page Banner -->
        <div class="page-banner" style="padding:40px 0; background: url(src="static/images/slide-02-bg.jpg) center #f9f9f9;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Find teammates for activities</h2>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Page Banner -->


        <!-- Start Content -->
        <div id="content">
            <div class="container">
                <div class="page-content">


                    <div class="row">

                        <div class="col-md-7">

                            <!-- Classic Heading -->
                            <h3 class="classic-title"><span>Find teammates and play together</h3>

                            <br/>
                            <h4>In multiplayer games it sometimes hard to find teammates to play with. Teams for me will find teammates for you. You will set up time and play together. If you like experience, you can continue, otherwise reshape your team.</h4>

                            <br/>
                            <br/>

                            <h4>Sometime, when you a living in big cities, or moved to new place, you do not know you neighbours well. And what if you want to get out for workout, run or play football. That's were Teams for me comes to play. You can find teammate for you activites within geolocation radious with public facebook profiles.</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End content -->

{% endblock %}
