<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/asset/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="static/css/login-styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if title %}
        <title>{{ title }} - Teams for me</title>
    {% else %}
        <title>Teams for me</title>
    {% endif %}
  </head>

<body>
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Teams for me LOGO</a>
                <ul class="nav nav-tabs">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if g.user.is_authenticated() %}
                    <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Your Profile</a></li>
                    <li><a href="{{ url_for('request_game', nickname=g.user.nickname) }}">Request Game</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm" href="#loginModal">Sign In/Register</a></li>
                    {% endif %}
                </ul>
                <div class="nav-collapse collapse">
                    Search
                </div>
            </div>
        </div>

        <div class="row">
        {% include 'flash.html' %}

            {% include 'requested_games.html' %}

            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="footer">
        2014 (c)
      </div>
    </nav>

    </div>
</body>
</html>
