   <!-- Start HomePage Slider -->
        <section id="home">
        {% include 'flash.html' %}
            <!-- Carousel -->
            <div id="main-slide" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                </ol><!--/ Indicators end-->

                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="static/images/slider/dota-2-official.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2 white">
                                    <span>Play <strong>DOTA 2</strong></span>
                                </h2>
                                <h3 class="animated3 white">
                                    <span>With a team!</span>
                                </h3>
                            </div>
                        </div>
                    </div><!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="static/images/slider/workout.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated4 white">
                                    <span>Play active games, like <strong>Footbal</strong>, do <strong>workout</strong>, or <strong>run</strong></span>
                                </h2>
                                <h3 class="animated5 white">
                                    <span>Together</span>
                                </h3>
                            </div>
                        </div>
                    </div><!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="static/images/slider/walk.jpg" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated7 white">
                                    <span>Find a company for a<strong>Walk</strong></span>
                                </h2>
                                <h3 class="animated8 white">
                                    <span>and Go</span>
                                </h3>
                            </div>
                        </div>
                    </div><!--/ Carousel item end -->
                </div><!-- Carousel inner end-->

                <!-- Controls -->
                <a class="left carousel-control" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div><!-- /carousel -->
        </section>
        <!-- End HomePage Slider -->



        <!-- Start Full Width Sections Content -->
        <div id="content" class="full-sections">

            <!-- Start Full Width Section 1 -->
            <div class="section" style="padding-top:60px; padding-bottom:30px; border-top:0; border-bottom:0; background:#fff">
                <div class="container">

                    <!-- Start Services Icons -->
                    <div class="row">
                        <!-- Start Service Icon 1 -->
                        <div class="col-md-4 col-sm-6 service-box service-icon-left">
                            <div class="service-icon">
                                <i class="fa fa-magic icon-mini-effect icon-effect-2 gray-icon"></i>
                            </div>
                            <div class="service-content">
                                <h4>Find a Team</h4>
                                <p>Find team for a game</p>
                            </div>
                        </div>
                        <!-- End Service Icon 1 -->

                        <!-- Start Service Icon 2 -->
                        <div class="col-md-4 col-sm-6 service-box service-icon-left">
                            <div class="service-icon">
                                <i class="fa fa-eye icon-mini-effect icon-effect-2 gray-icon"></i>
                            </div>
                            <div class="service-content">
                                <h4>Set up time</h4>
                                <p>Set up your time to play with a team</p>
                            </div>
                        </div>
                        <!-- End Service Icon 2 -->


                        <!-- Start Service Icon 4 -->
                        <div class="col-md-4 col-sm-6 service-box service-icon-left">
                            <div class="service-icon">
                                <i class="fa fa-users icon-mini-effect icon-effect-2 gray-icon"></i>
                            </div>
                            <div class="service-content">
                                <h4>Play a game</h4>
                                <p>Play games and have fun!</p>
                            </div>
                        </div>
                        <!-- End Service Icon 4 -->


                        <!-- Start Service Icon 4 -->
                        <div class="col-md-4 col-sm-6 service-box service-icon-left">
                            <div class="service-icon">
                                <i class="fa fa-rocket icon-mini-effect icon-effect-2 gray-icon"></i>
                            </div>
                            <div class="service-content">
                                <h4>Soon more</h4>
                                <p>Create you own team, geographic locations, sport games.</p>
                            </div>
                        </div>
                        <!-- End Service Icon 4 -->
                    </div>
                    <!-- End Services Icons -->

                </div>
            </div>
            <!-- End Full Width Section 1 -->


        </div>
        <!-- End Full Width Sections Content -->
